[Unit]
Description=Dash App Service for Cams 4 Niels UI
After=network.target

[Service]
Type=simple
User=alpha
Group=alpha
DynamicUser=true

WorkingDirectory=/home/alpha/cams_4_niels
PrivateTmp=true


EnvironmentFile="PATH=/home/alpha/cams_4_niels/.venv/bin/activate"

ExecStart=/home/alpha/cams_4_niels/.venv/bin/hypercorn \
        -b 128.141.240.230:8050 \
        -w 4 \
        app:app

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target