[Unit]
Description=Quart App Service for Serving Cam Feeds
After=network.target

[Service]
Type=simple
User=alpha
Group=alpha
DynamicUser=true

WorkingDirectory=/home/alpha/cams_4_niels/src
PrivateTmp=true


EnvironmentFile="PATH=/home/alpha/cams_4_niels/.venv/bin/activate"

ExecStart=/home/alpha/cams_4_niels/.venv/bin/hypercorn \
        -b 128.141.240.230:5000 \
        -w 4 \
        app:server

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target